<a href="https://colab.research.google.com/github/Codift05/ColabArchive/blob/main/Dataset_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
np.random.seed(42)
n_samples = 1000

# Generate sample e-commerce data with intentional issues for preprocessing
sample_data = {
    'customer_id': range(1, n_samples + 1),
    'age': np.random.randint(18, 70, n_samples),
    'gender': np.random.choice(['Male', 'Female', 'M', 'F', None], n_samples, p=[0.35, 0.35, 0.1, 0.1, 0.1]),
    'city': np.random.choice(['Jakarta', 'Surabaya', 'Bandung', 'Medan', 'Semarang', 'jakarta', 'JAKARTA'], n_samples),
    'membership': np.random.choice(['Bronze', 'Silver', 'Gold', 'Platinum'], n_samples, p=[0.4, 0.3, 0.2, 0.1]),
    'total_spend': np.random.exponential(scale=500, size=n_samples),
    'num_purchases': np.random.poisson(lam=10, size=n_samples),
    'days_since_last_purchase': np.random.randint(1, 365, n_samples),
    'satisfaction_score': np.random.uniform(1, 5, n_samples),
    'email_domain': np.random.choice(['gmail.com', 'yahoo.com', 'hotmail.com', 'company.com'], n_samples),
    'account_age_days': np.random.randint(30, 1825, n_samples),  # 1 month to 5 years
    'newsletter_subscriber': np.random.choice([0, 1], n_samples, p=[0.3, 0.7]),
    'preferred_payment': np.random.choice(['Credit Card', 'Debit Card', 'E-Wallet', 'Bank Transfer'], n_samples),
    'is_churned': np.random.choice([0, 1], n_samples, p=[0.75, 0.25])
}

In [4]:
# Mengubah dictionary menjadi Pandas DataFrame
ecommerce_df = pd.DataFrame(sample_data)

# Menampilkan 5 baris pertama dari DataFrame
print("--- 5 Baris Pertama Data E-commerce ---")
display(ecommerce_df.head())

# Menampilkan informasi umum tentang DataFrame (tipe data, jumlah non-null, dll.)
print("\n--- Informasi DataFrame ---")
display(ecommerce_df.info())

# Menampilkan statistik deskriptif untuk kolom numerik
print("\n--- Statistik Deskriptif Data Numerik ---")
display(ecommerce_df.describe())

--- 5 Baris Pertama Data E-commerce ---

,customer_id,age,gender,city,membership,total_spend,num_purchases,days_since_last_purchase,satisfaction_score,email_domain,account_age_days,newsletter_subscriber,preferred_payment,is_churned
0,1,56,Female,Medan,Platinum,471.505730,3,106,1.451433,yahoo.com,1022,1,Bank Transfer,1
1,2,69,Male,Bandung,Gold,87.394245,11,204,3.437871,hotmail.com,1438,1,Debit Card,0
2,3,46,Male,jakarta,Gold,559.885406,7,1,4.282306,gmail.com,298,0,E-Wallet,0
3,4,32,Female,Semarang,Bronze,98.770345,13,245,2.140977,company.com,1507,0,Bank Transfer,0
4,5,60,Male,Medan,Platinum,592.002727,10,72,1.956844,company.com,728,0,Bank Transfer,0

--- Informasi DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               1000 non-null   int64
 1   age                       1000 non-null   int64
 2   gender                    905 non-null    object
 3   city                      1000 non-null   object
 4   membership                1000 non-null   object
 5   total_spend               1000 non-null   float64
 6   num_purchases             1000 non-null   int64
 7   days_since_last_purchase  1000 non-null   int64
 8   satisfaction_score        1000 non-null   float64
 9   email_domain              1000 non-null   object
 10  account_age_days          1000 non-null   int64
 11  newsletter_subscriber     1000 non-null   int64
 12  preferred_payment         1000 non-null   object
 13  is_churned                1000 non-null   int64
dtypes: float64(2), int64(7), object(5)
memory usage: 109.5+ KB

None

--- Statistik Deskriptif Data Numerik ---

,customer_id,age,total_spend,num_purchases,days_since_last_purchase,satisfaction_score,account_age_days,newsletter_subscriber,is_churned
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000
mean,500.500000,43.81900,482.852369,9.990000,182.803000,2.928672,949.927000,0.72400,0.24900
std,288.819436,14.99103,494.391279,3.256148,104.296548,1.149981,512.104535,0.44724,0.43265
min,1.000000,18.00000,0.015360,2.000000,1.000000,1.000972,31.000000,0.00000,0.00000
25%,250.750000,31.00000,133.355590,8.000000,89.000000,1.924131,515.250000,0.00000,0.00000
50%,500.500000,44.00000,334.275984,10.000000,182.500000,2.883730,976.000000,1.00000,0.00000
75%,750.250000,56.00000,660.793605,12.000000,275.000000,3.886762,1394.500000,1.00000,0.00000
max,1000.000000,69.00000,3861.764761,21.000000,364.000000,4.989692,1824.000000,1.00000,1.00000

Anda dapat menyimpan DataFrame `ecommerce_df` ke dalam file Excel (.xlsx) menggunakan method `.to_excel()`.

In [5]:
# Menyimpan DataFrame ke file Excel
# index=False agar index DataFrame tidak ikut tersimpan sebagai kolom di Excel
ecommerce_df.to_excel('data_ecommerce.xlsx', index=False)

print("DataFrame berhasil disimpan ke file 'data_ecommerce.xlsx'")

DataFrame berhasil disimpan ke file 'data_ecommerce.xlsx'

In [6]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [7]:
# Periksa jumlah nilai kosong di setiap kolom
print("--- Jumlah Nilai Kosong (Missing Values) per Kolom di ecommerce_df ---")
display(ecommerce_df.isnull().sum())

--- Jumlah Nilai Kosong (Missing Values) per Kolom di ecommerce_df ---

customer_id                  0
age                          0
gender                      95
city                         0
membership                   0
total_spend                  0
num_purchases                0
days_since_last_purchase     0
satisfaction_score           0
email_domain                 0
account_age_days             0
newsletter_subscriber        0
preferred_payment            0
is_churned                   0
dtype: int64

In [8]:
# 1. Periksa nilai unik pada kolom gender
print("--- Nilai Unik pada Kolom Gender Sebelum Penanganan ---")
display(ecommerce_df['gender'].unique())

# 2. Tentukan strategi penanganan - Imputasi dengan Modus
# Karena gender adalah data kategorikal, mengisi dengan modus adalah strategi yang umum.

# 3. Hitung modus dari kolom gender
# .mode()[0] digunakan karena .mode() bisa mengembalikan Series jika ada lebih dari satu modus
modus_gender = ecommerce_df['gender'].mode()[0]
print(f"\nModus dari Kolom Gender: {modus_gender}")

# 4. Isi nilai kosong (NaN) pada kolom gender dengan nilai modus
ecommerce_df['gender'].fillna(modus_gender, inplace=True)

# 5. Periksa kembali jumlah nilai kosong setelah pengisian
print("\n--- Jumlah Nilai Kosong (Missing Values) pada Kolom Gender Setelah Penanganan ---")
display(ecommerce_df['gender'].isnull().sum())

# Tampilkan nilai unik setelah penanganan untuk konfirmasi
print("\n--- Nilai Unik pada Kolom Gender Setelah Penanganan ---")
display(ecommerce_df['gender'].unique())

--- Nilai Unik pada Kolom Gender Sebelum Penanganan ---

array(['Female', 'Male', 'F', 'M', None], dtype=object)

Modus dari Kolom Gender: Male

--- Jumlah Nilai Kosong (Missing Values) pada Kolom Gender Setelah Penanganan ---

/tmp/ipython-input-2813548823.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecommerce_df['gender'].fillna(modus_gender, inplace=True)

np.int64(0)

--- Nilai Unik pada Kolom Gender Setelah Penanganan ---

array(['Female', 'Male', 'F', 'M'], dtype=object)

In [9]:
# 1. Periksa nilai unik pada kolom city sebelum diseragamkan
print("--- Nilai Unik pada Kolom City Sebelum Diseragamkan ---")
display(ecommerce_df['city'].unique())

# 2. Ubah semua nilai pada kolom city menjadi format Title Case
# Menggunakan .str.title() untuk mengkapitalisasi huruf pertama setiap kata
ecommerce_df['city'] = ecommerce_df['city'].str.title()

# 3. Periksa kembali nilai unik pada kolom city setelah diseragamkan
print("\n--- Nilai Unik pada Kolom City Setelah Diseragamkan (Title Case) ---")
display(ecommerce_df['city'].unique())

--- Nilai Unik pada Kolom City Sebelum Diseragamkan ---

array(['Medan', 'Bandung', 'jakarta', 'Semarang', 'Jakarta', 'Surabaya',
       'JAKARTA'], dtype=object)

--- Nilai Unik pada Kolom City Setelah Diseragamkan (Title Case) ---

array(['Medan', 'Bandung', 'Jakarta', 'Semarang', 'Surabaya'],
      dtype=object)

In [12]:
# Periksa kembali jumlah nilai kosong di setiap kolom
print("--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Preprocessing ---")
display(ecommerce_df.isnull().sum())

# Tampilkan beberapa baris pertama untuk visual check data kategorikal
print("\n--- 5 Baris Pertama Data Setelah Preprocessing ---")
display(ecommerce_df.head())

# Tampilkan nilai unik pada kolom gender
print("\n--- Nilai Unik pada Kolom Gender Setelah Preprocessing ---")
display(ecommerce_df['gender'].unique())

# Tampilkan nilai unik pada kolom city
print("\n--- Nilai Unik pada Kolom City Setelah Preprocessing ---")
display(ecommerce_df['city'].unique())

--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Preprocessing ---

customer_id                 0
age                         0
gender                      0
city                        0
membership                  0
total_spend                 0
num_purchases               0
days_since_last_purchase    0
satisfaction_score          0
email_domain                0
account_age_days            0
newsletter_subscriber       0
preferred_payment           0
is_churned                  0
dtype: int64

--- 5 Baris Pertama Data Setelah Preprocessing ---

,customer_id,age,gender,city,membership,total_spend,num_purchases,days_since_last_purchase,satisfaction_score,email_domain,account_age_days,newsletter_subscriber,preferred_payment,is_churned
0,1,56,Female,Medan,Platinum,471.505730,3,106,1.451433,yahoo.com,1022,1,Bank Transfer,1
1,2,69,Male,Bandung,Gold,87.394245,11,204,3.437871,hotmail.com,1438,1,Debit Card,0
2,3,46,Male,Jakarta,Gold,559.885406,7,1,4.282306,gmail.com,298,0,E-Wallet,0
3,4,32,Female,Semarang,Bronze,98.770345,13,245,2.140977,company.com,1507,0,Bank Transfer,0
4,5,60,Male,Medan,Platinum,592.002727,10,72,1.956844,company.com,728,0,Bank Transfer,0

--- Nilai Unik pada Kolom Gender Setelah Preprocessing ---

array(['Female', 'Male'], dtype=object)

--- Nilai Unik pada Kolom City Setelah Preprocessing ---

array(['Medan', 'Bandung', 'Jakarta', 'Semarang', 'Surabaya'],
      dtype=object)

**Reasoning**:
The check for missing values and the 'city' column formatting was successful. However, the 'gender' column still contains inconsistent values ('F', 'M'). The next step is to clean the 'gender' column and verify the cleaning.

In [13]:
# Seragamkan nilai pada kolom 'gender'
ecommerce_df['gender'] = ecommerce_df['gender'].replace({'M': 'Male', 'F': 'Female'})

# Periksa kembali nilai unik pada kolom gender setelah diseragamkan
print("\n--- Nilai Unik pada Kolom Gender Setelah Diseragamkan ---")
display(ecommerce_df['gender'].unique())

# Periksa kembali jumlah nilai kosong (redundant check, but good for verification)
print("\n--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Diseragamkan Gender ---")
display(ecommerce_df.isnull().sum())

--- Nilai Unik pada Kolom Gender Setelah Diseragamkan ---

array(['Female', 'Male'], dtype=object)

--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Diseragamkan Gender ---

customer_id                 0
age                         0
gender                      0
city                        0
membership                  0
total_spend                 0
num_purchases               0
days_since_last_purchase    0
satisfaction_score          0
email_domain                0
account_age_days            0
newsletter_subscriber       0
preferred_payment           0
is_churned                  0
dtype: int64

In [15]:
# Create a raw version of the dataframe from the original sample_data dictionary
df_raw = pd.DataFrame(sample_data)

# Add missing values randomly
missing_indices_age = np.random.choice(n_samples, size=50, replace=False)
df_raw.loc[missing_indices_age, 'age'] = np.nan

missing_indices_satisfaction = np.random.choice(n_samples, size=80, replace=False)
df_raw.loc[missing_indices_satisfaction, 'satisfaction_score'] = np.nan

# Add some outliers
outlier_indices = np.random.choice(n_samples, size=30, replace=False)
df_raw.loc[outlier_indices, 'total_spend'] = df_raw.loc[outlier_indices, 'total_spend'] * 15

# Add some duplicates
duplicate_rows = df_raw.sample(20)
df_raw = pd.concat([df_raw, duplicate_rows], ignore_index=True)

# Display info about the new raw dataframe
print("--- Info DataFrame df_raw dengan Missing Values, Outlier, dan Duplikat ---")
display(df_raw.info())

# Check for missing values
print("\n--- Jumlah Missing Values per Kolom di df_raw ---")
display(df_raw.isnull().sum())

# Check for duplicates
print("\n--- Jumlah Duplikat di df_raw ---")
display(df_raw.duplicated().sum())

--- Info DataFrame df_raw dengan Missing Values, Outlier, dan Duplikat ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               1020 non-null   int64
 1   age                       969 non-null    float64
 2   gender                    923 non-null    object
 3   city                      1020 non-null   object
 4   membership                1020 non-null   object
 5   total_spend               1020 non-null   float64
 6   num_purchases             1020 non-null   int64
 7   days_since_last_purchase  1020 non-null   int64
 8   satisfaction_score        938 non-null    float64
 9   email_domain              1020 non-null   object
 10  account_age_days          1020 non-null   int64
 11  newsletter_subscriber     1020 non-null   int64
 12  preferred_payment         1020 non-null   object
 13  is_churned                1020 non-null   int64
dtypes: float64(3), int64(6), object(5)
memory usage: 111.7+ KB

None

--- Jumlah Missing Values per Kolom di df_raw ---

customer_id                  0
age                         51
gender                      97
city                         0
membership                   0
total_spend                  0
num_purchases                0
days_since_last_purchase     0
satisfaction_score          82
email_domain                 0
account_age_days             0
newsletter_subscriber        0
preferred_payment            0
is_churned                   0
dtype: int64

--- Jumlah Duplikat di df_raw ---

np.int64(20)

In [17]:
# Periksa jumlah nilai kosong di setiap kolom
print("--- Jumlah Nilai Kosong (Missing Values) per Kolom di ecommerce_df ---")
display(ecommerce_df.isnull().sum())

--- Jumlah Nilai Kosong (Missing Values) per Kolom di ecommerce_df ---

customer_id                 0
age                         0
gender                      0
city                        0
membership                  0
total_spend                 0
num_purchases               0
days_since_last_purchase    0
satisfaction_score          0
email_domain                0
account_age_days            0
newsletter_subscriber       0
preferred_payment           0
is_churned                  0
dtype: int64

In [19]:
# 1. Periksa nilai unik pada kolom gender
print("--- Nilai Unik pada Kolom Gender Sebelum Penanganan ---")
display(ecommerce_df['gender'].unique())

# 2. Tentukan strategi penanganan - Imputasi dengan Modus
# Karena gender adalah data kategorikal, mengisi dengan modus adalah strategi yang umum.

# 3. Hitung modus dari kolom gender
# .mode()[0] digunakan karena .mode() bisa mengembalikan Series jika ada lebih dari satu modus
modus_gender = ecommerce_df['gender'].mode()[0]
print(f"\nModus dari Kolom Gender: {modus_gender}")

# 4. Isi nilai kosong (NaN) pada kolom gender dengan nilai modus
ecommerce_df['gender'].fillna(modus_gender, inplace=True)

# 5. Periksa kembali jumlah nilai kosong setelah pengisian
print("\n--- Jumlah Nilai Kosong (Missing Values) pada Kolom Gender Setelah Penanganan ---")
display(ecommerce_df['gender'].isnull().sum())

# Tampilkan nilai unik setelah penanganan untuk konfirmasi
print("\n--- Nilai Unik pada Kolom Gender Setelah Penanganan ---")
display(ecommerce_df['gender'].unique())

--- Nilai Unik pada Kolom Gender Sebelum Penanganan ---

array(['Female', 'Male'], dtype=object)

Modus dari Kolom Gender: Male

--- Jumlah Nilai Kosong (Missing Values) pada Kolom Gender Setelah Penanganan ---

/tmp/ipython-input-2813548823.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ecommerce_df['gender'].fillna(modus_gender, inplace=True)

np.int64(0)

--- Nilai Unik pada Kolom Gender Setelah Penanganan ---

array(['Female', 'Male'], dtype=object)

In [20]:
# Seragamkan nilai pada kolom 'gender'
ecommerce_df['gender'] = ecommerce_df['gender'].replace({'M': 'Male', 'F': 'Female'})

# Periksa kembali nilai unik pada kolom gender setelah diseragamkan
print("\n--- Nilai Unik pada Kolom Gender Setelah Diseragamkan ---")
display(ecommerce_df['gender'].unique())

# Periksa kembali jumlah nilai kosong (redundant check, but good for verification)
print("\n--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Diseragamkan Gender ---")
display(ecommerce_df.isnull().sum())

--- Nilai Unik pada Kolom Gender Setelah Diseragamkan ---

array(['Female', 'Male'], dtype=object)

--- Jumlah Nilai Kosong (Missing Values) per Kolom Setelah Diseragamkan Gender ---

customer_id                 0
age                         0
gender                      0
city                        0
membership                  0
total_spend                 0
num_purchases               0
days_since_last_purchase    0
satisfaction_score          0
email_domain                0
account_age_days            0
newsletter_subscriber       0
preferred_payment           0
is_churned                  0
dtype: int64